LOCATE COMP "clk" SITE "P6";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25 MHZ;

LOCATE COMP "BTN" SITE "B8";
IOBUF PORT "BTN" IO_TYPE=LVCMOS25;

LOCATE COMP "LED" SITE "B11";
IOBUF PORT "LED" IO_TYPE=LVCMOS25;

