LOCATE COMP "clk" SITE "P6";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25 MHZ;

// BTNS[0] is the LSB
LOCATE COMP "BTNS[0]" SITE "T6";
IOBUF PORT "BTNS[0]" IO_TYPE=LVCMOS25;
LOCATE COMP "BTNS[1]" SITE "R5";
IOBUF PORT "BTNS[1]" IO_TYPE=LVCMOS25;
LOCATE COMP "BTNS[2]" SITE "R4";
IOBUF PORT "BTNS[2]" IO_TYPE=LVCMOS25;
LOCATE COMP "BTNS[3]" SITE "R3";
IOBUF PORT "BTNS[3]" IO_TYPE=LVCMOS25;

// LEDS[6] -> A -> pin 3
// LEDS[5] -> B -> pin 9
// LEDS[4] -> C -> pin 8
// LEDS[3] -> D -> pin 6
// LEDS[2] -> E -> pin 7
// LEDS[1] -> F -> pin 4
// LEDS[0] -> G -> pin 1
LOCATE COMP "LEDS[0]" SITE "A8";
IOBUF PORT "LEDS[0]" IO_TYPE=LVCMOS25;
LOCATE COMP "LEDS[1]" SITE "A7";
IOBUF PORT "LEDS[1]" IO_TYPE=LVCMOS25;
LOCATE COMP "LEDS[2]" SITE "A6";
IOBUF PORT "LEDS[2]" IO_TYPE=LVCMOS25;
LOCATE COMP "LEDS[3]" SITE "A5";
IOBUF PORT "LEDS[3]" IO_TYPE=LVCMOS25;
LOCATE COMP "LEDS[4]" SITE "A4";
IOBUF PORT "LEDS[4]" IO_TYPE=LVCMOS25;
LOCATE COMP "LEDS[5]" SITE "A3";
IOBUF PORT "LEDS[5]" IO_TYPE=LVCMOS25;
LOCATE COMP "LEDS[6]" SITE "A2";
IOBUF PORT "LEDS[6]" IO_TYPE=LVCMOS25;
